/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.command {padding: 1em 2em; font-size: 80%; background: #111; color: lime; margin-top: 1em; font-family: monospace; }

.jumbotron .container {text-align: center; width: 50%; margin: 0 auto;}